{% extends '../base/base.html' %} {% load static %} {%block title%} Assessment |
coroNAHworry {%endblock%} {% block customcss %}
<link rel="stylesheet" href="{% static 'css/assesment/assessment.css' %}" />
{% endblock %} {%block content%}
<div>
  <div class="assessTitleDiv">
    <h1 class="assessTitle">
      Corona Assesment
      <img
        src="https://vik.kompas.com/viruscorona/images/virus.png"
        alt="virus"
      />
    </h1>
    {{data}}
  </div>
  <form method="POST">
    {% csrf_token %}
    <div>
      <div class="questionDiv">
        <label
          >Apakah anda mengalami demam dengan suhu di atas 38°C
          (100.4°F)?</label
        >
        {{form.suhu}}
      </div>
      <div class="questionDiv">
        <label>Apakah ada batuk (atau disertai dengan batuk)?</label>
        {{form.batuk}}
      </div>
      <div class="questionDiv">
        <label
          >Apakah anda mengalami sesak saat bernafas (tekanan pada dada)?</label
        >
        {{form.sesak}}
      </div>
      <div class="questionDiv">
        <label
          >Apakah terdapat riwayat kontak (misalnya: berjabat tangan, mengobrol
          lama, berada dalam satu ruangan) dengan orang yang sudah dinyatakan
          positif terinfeksi virus Corona dalam 14 hari terakhir?</label
        >
        {{form.kontak_positif}}
      </div>
      <div class="questionDiv">
        <label
          >Apakah ada kontak (misalnya: berjabat tangan, mengobrol lama, berada
          dalam satu ruangan) dengan orang yang memiliki gejala flu, yaitu
          demam, batuk, dan pilek, atau dengan orang yang diduga terinfeksi
          virus Corona dalam 14 hari terakhir?</label
        >
        {{form.kontak_gejala}}
      </div>
      <div>
        <input
          style="margin-top: 20px"
          class="btn btn-primary"
          type="submit"
          value="Submit"
        />
      </div>
    </div>
  </form>
</div>
{% endblock %}
