{% extends '../base/base.html' %} {% load static %} {%block title%} Assessment |
coroNAHworry {%endblock%} {%block customcss %}
<link rel="stylesheet" href="{% static 'css/assesment/high.css' %}" />
{%endblock%} {%block content%}
<div class="high">
  <div class="golonganDiv">
    <h1>Kemungkinan anda terpapar virus Covid-19 tergolong</h1>
    <h1 id="type">TINGGI</h1>
  </div>
  <div class="content">
    <div class="img">
      <img
        src="https://images.vexels.com/media/users/3/193280/isolated/preview/8239ac53cb85b93a6786e3c5e665acfa-covid-19-symptom-girl-headache-by-vexels.png"
        alt="high-img"
      />
    </div>
    <div class="contentText">
      <p>Ini hal yang dapat dilakukan dan rekomendasi agar anda tetap aman</p>
      <ul>
        <li>
          Segera lakukan PCR/swab test di rumah sakit/fasilitas kesehatan
          terdekat
        </li>
        <li>
          Anda diharapkan untuk segera mengisolasi diri anda selama 14 hari
          dirumah, dan hindari kontak fisik dengan orang lain
        </li>
        <li>
          Anda diharapkan tidak keluar rumah untuk melindungi orang-orang
          disekitar anda
        </li>
        <li>
          Patuhi 3M : Memakai masker, Mencuci tangan minimal 20 detik, Menjaga
          jarak dengan orang lain
        </li>
        <li>
          Jika gejala yang anda alami hanya memburuk, segera hubungi rumah
          sakit/fasilitas kesehatan terdekat
        </li>
      </ul>
    </div>
  </div>
  <div>
    <form method="POST" action="{% url 'assessment:retake' %}">
      {% csrf_token %}
      <button class="btn btn-primary">Re-take Assesment</button>
    </form>
  </div>
</div>
{%endblock%}
