{% extends '../base/base.html' %} {% load static %} {%block title%} Assessment |
coroNAHworry {%endblock%} {%block customcss %}
<link rel="stylesheet" href="{% static 'css/assesment/low.css' %}" />
{%endblock%} {%block content%}
<div class="low">
  <div class="golonganDiv">
    <h1>Kemungkinan anda terpapar virus Covid-19 tergolong</h1>
    <h1 id="type">RENDAH</h1>
  </div>
  <div class="content">
    <div class="img">
      <img
        src="https://images.vexels.com/media/users/3/193239/isolated/preview/e83db85552ee35f6276411c9f19d982d-covid-19-boy-character-icon-by-vexels.png"
        alt="low-img"
      />
    </div>
    <div class="contentText">
      <p>Ini hal yang dapat dilakukan dan rekomendasi agar anda tetap aman</p>
      <ul>
        <li>Coba untuk tetap di rumah dan mengurangi kegiatan di luar</li>
        <li>Patuhi protokol kesehatan</li>
        <li>
          Patuhi 3M : Memakai masker, Mencuci tangan minimal 20 detik, Menjaga
          jarak dengan orang lain
        </li>
        <li>
          Jika anda diharuskan ke luar, prioritaskan ruangan dengan sirkulasi
          udara yang baik
        </li>
      </ul>
    </div>
  </div>
  <div>
    <form method="POST" action="{% url 'assessment:retake' %}">
      {% csrf_token %}
      <button class="btn btn-primary">Re-take Assesment</button>
    </form>
  </div>
</div>
{%endblock%}
