{% extends '../base/base.html' %} {% load static %} {%block title%} Assessment |
coroNAHworry {%endblock%} {%block customcss %}
<link rel="stylesheet" href="{% static 'css/assesment/medium.css' %}" />
{%endblock%} {%block content%}
<div class="high">
  <div class="golonganDiv">
    <h1>Kemungkinan anda terpapar virus Covid-19 tergolong</h1>
    <h1 id="type">SEDANG</h1>
  </div>
  <div class="content">
    <div class="img">
      <img
        src="https://images.vexels.com/media/users/3/193236/isolated/preview/1590950fb0eb48ffee67d8d3d86b35ea-covid-19---cone-de-personagem-de-menina-loira-by-vexels.png"
        alt="high-img"
      />
    </div>
    <div class="contentText">
      <p>Ini hal yang dapat dilakukan dan rekomendasi agar anda tetap aman</p>
      <ul>
        <li>
          Anda diharapkan untuk segera mengisolasi diri anda selama 14 hari
          dirumah, dan hindari kontak fisik dengan orang lain
        </li>
        <li>Prioritas aktivitas pada ruangan yang bersirkulasi baik</li>
        <li>
          Jika anda diwajibkan keluar rumah, tolong perhatikan protokol
          kesehatan yang berlaku
        </li>
        <li>
          Patuhi 3M : Memakai masker, Mencuci tangan minimal 20 detik, Menjaga
          jarak dengan orang lain
        </li>
        <li>
          Jika gejala yang anda alami hanya memburuk, segera hubungi rumah
          sakit/fasilitas kesehatan terdekat
        </li>
      </ul>
    </div>
  </div>
  <div>
    <form method="POST" action="{% url 'assessment:retake' %}">
      {% csrf_token %}
      <button class="btn btn-primary">Re-take Assesment</button>
    </form>
  </div>
</div>
{%endblock%}
