.assessTitleDiv {
  width: fit-content;
  margin-top: 20px;
  margin-bottom: 30px;
}

.assessTitleDiv img {
  height: 35px;
  padding-bottom: 5px;
}

.assessTitle {
  font-size: 40px;
  font-weight: 700;
}

.questionDiv {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 20px;
  text-align: justify;
}

.questionDiv label {
  max-width: 60%;
  padding-left: 10px;
  font-size: 16px;
}

#id_suhu,
#id_batuk,
#id_kontak_positif,
#id_kontak_gejala,
#id_sesak {
  width: 65%;
}
