{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>{% block title %}{% endblock %}</title>

	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	{% block customcss %}{% endblock %}
</head>
<body class="bg-light">
	{% include './navbar.html' %}
	<main role="main" class="container">
		{% block content %}{% endblock %}
	</main>
	<div class="fixed-top" style="margin-top: 4.5rem; margin-right: 3rem; z-index: -1;">
		<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;" id="toast-div"></div>
	</div>

	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	<script>
	  function getActiveNavbar() {
      let nowURL = window.location.pathname;
      let menuActive = "#" + nowURL.slice(nowURL.indexOf('/') + 1, nowURL.indexOf('/',1)) + "-navbar";
      $(menuActive).addClass('active');
    }
    $(document).ready(getActiveNavbar);
	</script>
	{% block customjs %}{% endblock %}
</body>
</html>
