<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="white-text col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">About Website</h5>
        <p>coroNAHworry merupakan website yang memiliki tujuan untuk menghilangkan kebosanan ditengah pandemi, dengan
        berbagai fitur seperti assessment corona, berbagi curhatan, dan berbagi kegiatan.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="white-text col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Group Member</h5>
        <ul>
            <li id="left">Sukma Firdaus Suryahadi</li>
            <li id="left">Josias Marchellino Pakpahan</li>
            <li id="left">Puspita Sari Matovanni</li>
            <li id="left">Muhammad Faishol Amirul Mukminin</li>
            <li id="left">Muhammad Aditya Pratama Dungga</li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 white-text">
    Made by Group C03
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->