<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
   <div class="container">
        <a class="navbar-brand" href="/">
            <strong> coroNAHworry</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>    
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                {% if user.username %}
                    <li id="assessment-navbar" class="nav-item">
                        <a class="nav-link" href="{% url 'assessment:index' %}">Assessment</a>
                    </li>
                    <li id="workout-navbar" class="nav-item">
                        <a class="nav-link" href="{% url 'workout:all' %}">Workout</a>
                    </li>
                    <li id="curhat-navbar" class="nav-item">
                        <a class="nav-link" href="{% url 'postingan:index' %}">Curhat</a>
                    </li>
                    <li id="profile-navbar" class="nav-item {% if active == 'akun' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'akun:profile' %}">Profile</a>
                    </li>
                    <li id="logout-navbar" class="nav-item">
                        <a class="nav-link" href="{% url 'main:logout' %}">Log out</a>
                    </li>
                {% else %}
                    <li id="login-navbar" class="nav-item {% if active == 'login' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'main:login' %}">Log in</a>
                    </li>
                    <li id="register-navbar" lass="nav-item {% if active == 'register' %} active {% endif %}">
                        <a class="nav-link" href="{% url 'main:register' %}">Register</a>
                    </li>
                    {% endif %}
                
            </ul>
        </div>
    </div>
</nav>
