{% extends '../base/base.html' %}
{% load static %}

{% block title %}coroNAHworry{% endblock %}

{% block content %}

   <!-- Static Header -->
<div style="background: url(https://images.unsplash.com/photo-1541280910158-c4e14f9c94a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)" class="jumbotron bg-cover text-white mt-5">
    <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">Welcome to coroNAHworry</h1>
        <h4 class="font-italic mb-0">Boring isn't it being at home all day?</h4>
        <h5 class="font-italic mb-0">coroNAHworry is here to rid of your boredom and of course also 
            keep you healthy and stay fit to carry out activities during the pandemic. </h5>
        <h5 class="font-italic mb-0">Then, what are you waiting for? Let's try CoroNAHworry's features</h5>
        <div class="container mt-5"><a href="#satu" role="button" class="btn btn-outline-dark text-white">Let's Go</a></div>
    </div>
</div>
      
    <div class="row" id="satu">
       <!-- Feature item -->
            <div class="col-xl-6 col-lg-4 col-md-6 mb-4" style="border-radius: 20px;">
                <div>
                    <a href="{% url 'assessment:index' %}"><img src="https://images.unsplash.com/photo-1586163958271-4d2cc29feff8?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" class="img-fluid card-img-top" style=" box-shadow: 1px 1px 10px rgba(0,0,0,0.5); border-radius:20px;"></a>
                <div class="p-4">
                    <h5><a href="{% url 'assessment:index' %}" class="text-dark">Corona Assessment</a></h5>
                    <p class="small text-muted mb-0">Want to know how much you indicated being exposed to the covid-19 virus ?</p>
                </div>
                </div>
            </div>
      <!-- End -->

        <!-- Feature item -->
            <div class="col-xl-6 col-lg-4 col-md-6 mb-4" style="border-radius: 20px;">
                <div>
                    <a href="{% url 'workout:all' %}"><img src="https://images.unsplash.com/flagged/photo-1573556291531-a5d957d7e4e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" class="img-fluid card-img-top" style=" box-shadow: 1px 1px 10px rgba(0,0,0,0.5); border-radius:20px;"></a>
                <div class="p-4">
                    <h5><a href="{% url 'workout:all' %}" class="text-dark">Workout & Activity</a></h5>
                    <p class="small text-muted mb-0">Jogging every day makes you thin ?</p>
                </div>
                </div>
            </div>
      <!-- End -->
        </div>

        <div class="row">
        <!-- Feature item -->
            <div class="col-xl-6 col-lg-4 col-md-6 mb-4" style="border-radius: 20px;">
                <div>
                    <a href="{% url 'postingan:index' %}"><img src="https://images.unsplash.com/photo-1530811761207-8d9d22f0a141?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" class="img-fluid card-img-top" style=" box-shadow: 1px 1px 10px rgba(0,0,0,0.5); border-radius:20px;"></a>
                <div class="p-4">
                    <h5><a href="{% url 'postingan:index' %}" class="text-dark">Curhat</a></h5>
                    <p class="small text-muted mb-0">I want to go back to Pacil</p>
                </div>
                </div>
            </div>
      <!-- End -->
    
         <!-- Feature item -->
            <div class="col-xl-6 col-lg-4 col-md-6 mb-4" style="border-radius: 20px;">
                <div>
                    <a href="#"><img src="https://images.unsplash.com/photo-1495211895963-08d8812dcbf0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="" class="img-fluid card-img-top" style=" box-shadow: 1px 1px 10px rgba(0,0,0,0.5); border-radius:20px;"></a>
                <div class="p-4">
                    <h5><a href="#" class="text-dark">Profile</a></h5>
                    <p class="small text-muted mb-0">Update your profle here</p>
                </div>
                </div>
            </div>
      <!-- End -->
        </div>
{% endblock %}
