{% extends '../base/base.html' %}
{% load static %}

{% block title %}Log in | coroNAHworry{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'css/form-login.css' %}">
{% endblock %}

{% block content %}
<form class="form-signin" method="POST">
	<div class="text-center mb-4">
		<!-- <img class="mb-4" src="static/img/registration.svg" alt="" width="250"> -->
		<h1 class="h3 mb-3 font-weight-bold">LOG IN</h1>
		{% if form.errors %}
		<div class="alert alert-danger" role="alert" style="text-align: left;">
			{% for field, errors in form.errors.items %}
				{% for error in errors %}
					{{ error }}
				{% endfor %}
			{% endfor %}
		</div>
		{% endif %}
	</div>
	{% csrf_token %}
	<div class="form-label-group">
		<input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
		<label for="inputUsername">Username</label>
	</div>
	<div class="form-label-group">
		<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
		<label for="inputPassword">Password</label>
    </div>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
</form>
{% endblock %}