{% extends "base/base.html" %}

{% load static %}


{% block title %} Edit Profile {% endblock %}

{% block content %}

<br>
<center>
    <legend class="border-bottom mb-4">Edit Profile <img src = "{% static 'download.png' %}"width=20 height=20> </legend>
</center>

    <div class="card mb-3"> 
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
        
                    <div class="col-sm-3">
                        <h6 class="mb-0">Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ edit.nama }}
                    </div>
                </div>
            <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Age </h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ edit.umur }}
                    </div>
                </div>
            <hr>
                <div class="row">
                    <div class="col-sm-3">
                    <h6 class="mb-0">Residence</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ edit.domisili }}
                    </div>
                </div>
            <hr>
                <div class="row">
                    <div class="col-sm-3">
                    <h6 class="mb-0">Weight</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ edit.berat_badan }} Kg
                    </div>
                </div>
            <hr>
                <div class="row">
                    <div class="col-sm-3">
                    <h6 class="mb-0">Height </h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ edit.tinggi_badan }} Cm
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <center>
                    <button  class="btn btn-success" type="submit">Save</button>
                    <a href="{% url 'akun:profile_dua' %}" class="btn btn-danger">Back</a>
                    </center>
                </div>
            </form>
        </div>
    </div>


{% endblock content %}
