{% extends "base/base.html" %}

{% load static %}

{% block title %} Profile {% endblock %}

{% block content %}

<br>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>PENTING!</strong> Silahkan memasukkan data diri anda melalui Edit button
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<div class="row gutters-sm">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <img src="{% static 'default.png' %}" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                        <h4>{{ data.nama }}</h4>
                        <p class="text-secondary mb-1">{{ user.username }}</p>
                        <p class="text-muted font-size-sm"> coroNAHworry visitors</p>
                        <a href="{% url 'akun:update_profile' data.id %}" class="btn btn-secondary">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h1>Profile Info</h1>
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ data.nama }}
                    </div>
                </div>
            <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Age </h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ data.umur }}
                    </div>
                </div>
            <hr>
                <div class="row">
                    <div class="col-sm-3">
                    <h6 class="mb-0">Residence</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ data.domisili }}
                    </div>
                </div>
            <hr>
                <div class="row">
                    <div class="col-sm-3">
                    <h6 class="mb-0">Weight</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ data.berat_badan }} Kg
                    </div>
                </div>
            <hr>
                <div class="row">
                    <div class="col-sm-3">
                    <h6 class="mb-0">Height </h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ data.tinggi_badan }} Cm
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
