{% extends "base/base.html" %}

{% load static %}

{% block title %} Profile {% endblock %}

{% block content %}
    <br>
    <div class = "title">
      <h1> Profile </h1>
    </div>
    
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>PENTING!</strong> Silahkan memasukkan data diri melalui edit button
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="card text-center">
      <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              <p> Silahkan memasukkan data diri anda terlebih dahulu</p>
              <p>Nama : {{ profile.nama }}</p>
              <p>Umur : {{ profile.umur }}</p>
              <p>Domisili : {{ profile.domisili }}</p>
              <p>Berat Badan : {{ profile.berat_badan}}</p>
              <p>Tinggi Badan : {{ profile.tinggi_badan}}</p>
          </fieldset>
          <div class="form-group" >
             
              <button href ="{% url 'akun:profile_dua' %}"class="btn btn-outline-info" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>

    <div class="form-group" >     
      <button href ="{% url 'akun:profile_dua' %}"class="btn btn-outline-info" type="submit">cek</button>
    </div>
{% endblock content %}
