{% extends './base/base.html' %}
{% load static %}

{% block title %}Komentar | coroNAHworry{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-12 col-md-12 my-3">
        <div class="card box-shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">
                            {% if not postingan.user.first_name and not postingan.user.last_name %}
                                {{ postingan.user.username }}
                            {% else %}
                                {{ postingan.user.first_name }} {{ postingan.user.last_name }}
                            {% endif %}
                        </div>
                        {{ postingan.message }}
                        <hr>
                        <div class="text-center">
                            <a href="{% url 'komentar:like' postingan.pk %}">
                                {% if is_like == 0 %}
                                    <img width="30" src="{% static 'images/heart-regular.svg' %}"></img>
                                {% else %}
                                    <img width="30" src="{% static 'images/heart-solid.svg' %}"></img>
                                {% endif %}
                            </a>                   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-md-12 my-3">
        <div class="card box-shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">
                            Komentar
                        </div>
                        <hr>
                        {% for comment in comments %}
                            <div class="font-weight-bold">
                                {% if not comment.user.first_name and not comment.user.last_name %}
                                    {{ comment.user.username }}
                                {% else %}
                                    {{ comment.user.first_name }} {{ comment.user.last_name }}
                                {% endif %}
                            </div>
                            <div>{{ comment.content }}</div>
                            <hr>
                        {% endfor %}
                        {% if form.errors %}
                        <div class="alert alert-danger" role="alert" style="text-align: left;">
                            There are some errors:
                            <ul class="mb-0">
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        <form action="{% url 'komentar:index' postingan.pk %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <textarea name="content" class="form-control" cols="40" rows="5" required maxlength="200" placeholder="Tulis komentar..."></textarea>
                            </div>
                            <button class="btn btn-primary" value="Submit">Submit</button>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}