{% extends '../base/base.html' %}
{% load static %}

{% block title %}Curhat | coroNAHworry{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-xl-12 col-md-12 my-3">
        <div class="card box-shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                       <form method="POST", action="">
                        {% csrf_token %}
                        {{ form.user }}
                        <div class="form-group">
                            <textarea name="{{ form.message.name }}" class="form-control" cols="40" rows="5" required maxlength="200" placeholder="Tulis curhatan..."></textarea>
                        </div>
                        <button class="btn btn-primary" value="Submit">Kirim</button>
                        </form>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for i in post %}
    <div class="col-xl-12 col-md-12 my-3">
        <div class="card box-shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-uppercase mb-1">
                            {% if not i.user.first_name and not i.user.last_name %}
                                {{i.user.username}}
                            {% else %}
                                {{ i.user.first_name }} {{ i.user.last_name }}
                            {% endif %}
                            <div style="font-size:10px">{{i.time}}</div>
                        </div>
                        <br>
                        {{ i.message }}
                        <hr>
                        <a href="{% url 'komentar:index' postid=i.id %}">
                        <img src="/static/images/reply.png" alt="reply" width="25" height="25">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}