{% extends '../base/base.html' %}
{% load static %}

{% block title %}
    Share Activity & Workout
{% endblock %}

{% block customcss %}
    <link rel="stylesheet" href="{% static 'css/workout.css' %}">
{% endblock %}

{% block content %}
<div class="container my-4 py-4">
    <h2 class="text-center mb-4">Calculate your BMI & Share Your Activities</h2>
    <div class="tengah" style="display:flex; justify-content: center;"><a class="btn btn-outline-primary" href="{% url 'workout:create' %}" title="">Yes, Sure</a></div>
</div>


    <h1 class="text-center">All of Activities</h1>
   
    
    <div class="d-flex justify-content-around flex-wrap pb-4">
        {% for i in page_obj %}
        <div class="card mt-5 px-4" style="background-color: #d9d9e0; padding:10px;  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);">
            <div class="card-header" style="box-shadow: 2px 2px rgba(77, 70, 77, 0.507);">
                <h4 class="text-center">{{i.work_activity}}</h4>
                {% if i.state_bmi == 'Underweight' %}
                    <img src="{% static 'img/workout/white.png' %}" style="position:static; width:50px; height:50px; border-radius:50%; display: block; margin:auto;">
                {% elif i.state_bmi == 'Normal' %}
                    <img src="{% static 'img/workout/ing.webp' %}" style="position:static; width:50px; height:50px; border-radius:50%; display: block; margin:auto;">
                {% elif i.state_bmi == 'Preobese' %}
                    <img src="{% static 'img/workout/pink.png' %}" style="position:static; width:50px; height:50px; border-radius:50%; display: block; margin:auto;">
                {% else %}
                    <img src="{% static 'img/workout/br.webp' %}" style="position:static; width:50px; height:50px; border-radius:50%; display: block; margin:auto;">
                {% endif %}
            </div>
            

            <div class="card-body" style="display:grid; grid-template-columns: auto 1fr; background-color: #d9d9e0; font-family:'Lucida'; row-gap: .3rem; column-gap: .8rem;">
                <div class="kiri">Duration</div>
                <div class="kanan">{{i.duration}}</div>
                <div class="kiri">Surname</div>
                <div class="kanan">{{i.surname}}</div>
                <div class="kiri">BMI</div>
                <div class="kanan">{{i.bmi}}</div>
                <div class="kiri">Range BMI</div>
                <div class="kanan">{{i.state_bmi}}</div>
                <div class="kiri">Published on</div>
                <div class="kanan">{{i.published}}</div>
                <div><a class="btn btn-outline-primary" href="{% url 'workout:detail' i.id %}">Detail</a></div>
            </div>
        </div>
        {% endfor %}
        </div>
        

        {% if n_all_work > works_per_page %}
        <div class="container" style="display:flex; justify-content: center;">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
                    {% endif %}
        
                    {% for page in page_obj.paginator.page_range %}
                        {% if page is page_obj.number %}
                        <li class="page-item" aria-current="page">
                            <span class="page-link" href="#">{{page}}
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                        {% endif %}
                        {% endfor %}
        
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
                    {% endif %}
                </ul>
              </nav>
        </div>
        {% endif %}
{% endblock %}