{% extends '../base/base.html' %}
{% load static %}

{% block title %}
Detail
{% endblock %}

{% block content %}
<div class="container my-4 py-4">
    <h1 class="text-center mb-3"><b>{{work_detail.work_activity}}</b></h1>

    {% if work_detail.bmi < 20 %}
        <img src="{% static 'img/workout/u.jpg' %}" style="display: block; margin:auto;" width=35% height=40%>

    {% elif work_detail.bmi > 30.0 %}
        <img src="{% static 'img/workout/fe.jpg' %}" style="display: block; margin:auto;" width=60% height=60%>
    
    {% elif 20 <= work_detail.bmi <= 30  %}
        <img src="{% static 'img/workout/basket.png' %}" style="display: block; margin:auto;" width=35% height=50%>

    {% endif %}

    <div class="container mt-5 px-4">
        <h5 class="text-center">Kegiatan ini dilakukan selama {{work_detail.duration}} oleh {{work_detail.surname}}</h5>
        <h5 class="text-center">{{work_detail.surname}} memiliki BMI sebesar {{work_detail.bmi}} dengan kategori {{work_detail.state_bmi}}</h5>
        <div class="card text-justify mt-5 py-4 px-5" style="display: block; margin:auto; background-color:#d9d9e0; justify-content:center; text-align:center; padding:30px; box-shadow: 2px 2px 2px rgba(0,0,0,0.8);">
            <h5 class="text-center"><b>Activity Description</b></h5>
            <p style="text-align:justify;">{{work_detail.description}}</p>
        </div>
    </div>
</div>
{% endblock %}