{% extends '../base/base.html' %}
{% load static %}

{% block title %}
    Create Workout
{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'css/workout.css' %}">
{% endblock %}


{% block content %}
    <div class="container my-3">
        <div class="container mt-5">
            <h2 class="text-center">Add and Share Your Activity</h2>
        </div>
    <div class="container" style="margin-top:50px; min-height: 300px; display:flex; justify-content: center;">
            <div class="col-md-10 col-sm-12 col-xs-12">
                <div class="tab-bmi" style="background-color: #d9d9e0;">
                        <form method="post">
                            {% csrf_token %}
                            <div class="col-12 my-4 pt-4">
                                <label for="surname">Your Surname : </label>
                                <input type="text" name="surname" class="form-control" required>
                            </div>

                            <div class="col-12 my-4">
                                <label for="work_activity">Title of Your Activity : </label>
                                <input type="text" name="work_activity" class="form-control" required>
                            </div>

                            <div class="col-12 my-4">
                                <label>Duration :</label>
                                <select name="duration" class="form-control" required>
                                    <option value="0-30 menit">0-30 menit</option>
                                    <option value="30 menit - 1 jam">30 menit - 1 jam</option>
                                    <option value="1 - 1.5 jam">1 - 1.5 jam</option>
                                    <option value="1.5 - 2 jam">1.5 - 2 jam</option>
                                </select>
                            </div>
                    

                            <div class="col-12 my-4">
                                <label for="description">Description: </label>
                                <textarea name="description" class="form-control" required></textarea>
                            </div>

                            <div class="col-12 my-4">
                                <label for="weight">Weight (kg): </label>
                                <input type="number" step="any" name="weight" class="form-control" required>
                            </div>

                            <div class="col-12 my-4">
                                <label for="height">Height (m): </label>
                                <input type="number" step="any" name="height" class="form-control" required>
                            </div>

                            
                              <button type="submit" class="btn btn-primary my-4 ml-4 px-4 " action="{% url 'workout:create' %}">Submit</button>
                        </form>
                    </div>
        </div>
    </div>
    </div>
        
{% endblock %}

