{% extends '../base/base.html' %}
{% load static %}

{% block title %}
    Share Activity & Workout
{% endblock %}

{% block customcss %}
    <link rel="stylesheet" href="{% static 'css/workout.css' %}">
{% endblock %}

{% block content %}
<div class="container my-4 py-4">
    <h1 class="text-center">Activity and Workout</h1>
    <div class="d-flex justify-content-around flex-wrap pb-4">
        
        <!------------UNDERWEIGHT------------>
        {% if a_latest == "Underweight" %}
        <div class="container mb-3">
            <h3 class="text-center">Underweight</h3>
            <p  class="text-justify">You have BMI with categories below normal. 
                All you have to do is eat foods that contain more calories, 
                protein and carbohydrates. Eating large portions will not be a problem for you. 
                Don't forget to get enough rest and do a balanced exercise.
                The workout that you can do is</p>
        </div>
        <div class="container">
            <img src="{% static 'img/workout/under.jpg' %}" width=40% style="display: block; margin:auto;">
        </div>
            
        {% for i in page_obj %}
        <div class="card mt-5 px-4" style="background-color: #d9d9e0; padding:10px;  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);">
            <div class="card-header" style="box-shadow: 2px 2px rgba(77, 70, 77, 0.507);">
                <h4 class="text-center">{{i.work_activity}}</h4>
                <img src="{% static 'img/workout/ing.webp' %}" style="position:static; width:50px; height:50px; border-radius:50%; display: block; margin:auto;">
            </div>
            <div class="card-body" style="display:grid; grid-template-columns: auto 1fr; background-color: #d9d9e0; font-family:'Lucida'; row-gap: .3rem; column-gap: .8rem;">
                <div class="kiri">Duration</div>
                <div class="kanan">{{i.duration}}</div>
                <div class="kiri">Surname</div>
                <div class="kanan">{{i.surname}}</div>
                <div class="kiri">BMI</div>
                <div class="kanan">{{i.bmi}}</div>
                <div class="kiri">Range BMI</div>
                <div class="kanan">{{i.state_bmi}}</div>
                <div class="kiri">Published on</div>
                <div class="kanan">{{i.published}}</div>
                <div><a class="btn btn-outline-primary" href="{% url 'workout:detail' i.id %}" title="">Detail</a></div>
            </div>
        </div>
        {% endfor %}

        <!----------------NORMAL------------->
        {% elif a_latest == "Normal" %}
        <div class="container mb-3">
            <h3 class="text-center">Normal</h3>
            <p>Wooahh, Your BMI is normal. Keep up your good diet. Don't forget to eat nutritious foods three times a day. 
                Adequate rest is also very helpful for you to maintain your BMI. Here's the workouts that you can do</p>
        </div>
        <div class="container">
            <img src="{% static 'img/workout/normal.jpg' %}" width=40% style="display: block; margin:auto;">
        </div>
            
            {% for i in page_obj %}
            <div class="card mt-5 px-4" style="background-color: #d9d9e0; padding:10px;  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);">
                <div class="card-header" style="box-shadow: 2px 2px rgba(77, 70, 77, 0.507);">
                    <h4 class="text-center">{{i.work_activity}}</h4>
                    {% if i.bmi <= 20.5 %}
                        <img src="{% static 'img/workout/br.webp' %}" style="position:static; width:50px; height:50px; border-radius:50%; display: block; margin:auto;">
                    {% else %}
                        <img src="{% static 'img/workout/pink.png' %}" style="position:static; width:50px; height:50px; border-radius:50%; display: block; margin:auto;">
                    {% endif %}
                </div>
                <div class="card-body" style="display:grid; grid-template-columns: auto 1fr; background-color: #d9d9e0; font-family:'Lucida'; row-gap: .3rem; column-gap: .8rem;">
                    <div class="kiri">Duration</div>
                    <div class="kanan">{{i.duration}}</div>
                    <div class="kiri">Surname</div>
                    <div class="kanan">{{i.surname}}</div>
                    <div class="kiri">BMI</div>
                    <div class="kanan">{{i.bmi}}</div>
                    <div class="kiri">Range BMI</div>
                    <div class="kanan">{{i.state_bmi}}</div>
                    <div class="kiri">Published on</div>
                    <div class="kanan">{{i.published}}</div>
                    <div><a class="btn btn-outline-primary" href="{% url 'workout:detail' i.id %}" title="">Detail</a></div>
                </div>
            </div>
            {% endfor %}

        <!-------------PREOBESE------------>
        {% elif a_latest == "Preobese" %}
        <div clas="container mb-3">
            <h3 class="text-center">Preobese</h3>
            <p>Uhh, your bmi category is almost obese. You must limit your consumption of excess sugar, salt and fat. In addition, 
                regular exercise can also help you to reach a normal body mass. The workout that you can do is</p>
        </div>
        <div class="container">
            <img src="{% static 'img/workout/pre.jpg' %}" width=40% style="display: block; margin:auto;">
        </div>
            
        {% for i in page_obj %}
        <div class="card mt-5 px-4" style="background-color: #d9d9e0; padding:10px;  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);">
            <div class="card-header" style="box-shadow: 2px 2px rgba(77, 70, 77, 0.507);">
                <h4 class="text-center">{{i.work_activity}}</h4>
                {% if i.bmi <= 27 %}
                    <img src="{% static 'img/workout/br.webp' %}" style="position:static; width:50px; height:50px; border-radius:50%; display: block; margin:auto;">
                {% else %}
                    <img src="{% static 'img/workout/ing.webp' %}" style="position:static; width:50px; height:50px; border-radius:50%; display: block; margin:auto;">
                {% endif %}
            </div>
            <div class="card-body" style="display:grid; grid-template-columns: auto 1fr; background-color: #d9d9e0; font-family:'Lucida'; row-gap: .3rem; column-gap: .8rem;">
                <div class="kiri">Duration</div>
                <div class="kanan">{{i.duration}}</div>
                <div class="kiri">Surname</div>
                <div class="kanan">{{i.surname}}</div>
                <div class="kiri">BMI</div>
                <div class="kanan">{{i.bmi}}</div>
                <div class="kiri">Range BMI</div>
                <div class="kanan">{{i.state_bmi}}</div>
                <div class="kiri">Published on</div>
                <div class="kanan">{{i.published}}</div>
                <div><a class="btn btn-outline-primary" href="{% url 'workout:detail' i.id %}" title="">Detail</a></div>
            </div>
        </div>
        {% endfor %}

        <!------------OBESE CLASS I--------------->
        {% elif a_latest == "Obese Class I" %}
        <div class="container mb-3">
            <h3 class="text-center">Obese Class I</h3>
            <p>Hoo, You are obese. Don't let this go away. You have to take better care of yourself. 
                Eat foods that are nutritionally balanced. Limit yourself to high sugar, salt, and fat. 
                And do exercise every day. Don't be discouraged, this is a workout that you can do</p>
        </div>
        <div class="container">
            <img src="{% static 'img/workout/obs.jpg' %}" width=40% style="display: block; margin:auto;">
        </div>
            
        {% for i in page_obj %}
        <div class="card mt-5 px-4" style="background-color: #d9d9e0; padding:10px;  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);">
            <div class="card-header" style="box-shadow: 2px 2px rgba(77, 70, 77, 0.507);">
                <h4 class="text-center">{{i.work_activity}}</h4>
                {% if i.bmi <= 32 %}
                    <img src="{% static 'img/workout/white.png' %}" style="position:static; width:50px; height:50px; border-radius:50%; display: block; margin:auto;">
                {% else %}
                    <img src="{% static 'img/workout/ing.webp' %}" style="position:static; width:50px; height:50px; border-radius:50%; display: block; margin:auto;">
                {% endif %}
            </div>
            <div class="card-body" style="display:grid; grid-template-columns: auto 1fr; background-color: #d9d9e0; font-family:'Lucida'; row-gap: .3rem; column-gap: .8rem;">
                <div class="kiri">Duration</div>
                <div class="kanan">{{i.duration}}</div>
                <div class="kiri">Surname</div>
                <div class="kanan">{{i.surname}}</div>
                <div class="kiri">BMI</div>
                <div class="kanan">{{i.bmi}}</div>
                <div class="kiri">Range BMI</div>
                <div class="kanan">{{i.state_bmi}}</div>
                <div class="kiri">Published on</div>
                <div class="kanan">{{i.published}}</div>
                <div><a class="btn btn-outline-primary" href="{% url 'workout:detail' i.id %}" title="">Detail</a></div>
            </div>
        </div>
        {% endfor %}

        <!----------------OBESE CLASS II----------------->
        {% elif a_latest == "Obese Class II" %}
        <div class="container mb-3">
            <h3 class="text-center">Obese Class II</h3>
            <p>oh nooo, you've entered obesity level II. It must be that your current body is very uncomfortable, right? 
                Keep doing your daily activities well. You have to eat less, otherwise you will get worse. 
                Do exercise every day. Take a special class for your diet program. Currently you can do one of these workouts</p>
        </div>
        <div class="container">
            <img src="{% static 'img/workout/obs2.jpg' %}" width=40% style="display: block; margin:auto;">
        </div>
            
        {% for i in page_obj %}
        <div class="card mt-5 px-4" style="background-color: #d9d9e0; padding:10px;  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);">
            <div class="card-header" style="box-shadow: 2px 2px rgba(77, 70, 77, 0.507);">
                <h4 class="text-center">{{i.work_activity}}</h4>
                <img src="{% static 'img/workout/white.png' %}" style="position:static; width:50px; height:50px; border-radius:50%; display: block; margin:auto;">
            </div>
            <div class="card-body" style="display:grid; grid-template-columns: auto 1fr; background-color: #d9d9e0; font-family:'Lucida'; row-gap: .3rem; column-gap: .8rem;">
                <div class="kiri">Duration</div>
                <div class="kanan">{{i.duration}}</div>
                <div class="kiri">Surname</div>
                <div class="kanan">{{i.surname}}</div>
                <div class="kiri">BMI</div>
                <div class="kanan">{{i.bmi}}</div>
                <div class="kiri">Range BMI</div>
                <div class="kanan">{{i.state_bmi}}</div>
                <div class="kiri">Published on</div>
                <div class="kanan">{{i.published}}</div>
                <div><a class="btn btn-outline-primary" href="{% url 'workout:detail' i.id %}" title="">Detail</a></div>
            </div>
        </div>
        {% endfor %}

        <!------------OBESE CLASS III--------------->
        {% elif a_latest == "Obese Class III" %}
        <div clss="container mb-3">
            <h3 class="text-center">Obese Class III</h3>
            <p>Are you surprised by your bmi category? Right, I was shocked too. You have to really do a special program to get rid 
                of excess fat in your body. Reduce your meal portions, move more. 
                Keep up the spirit, everyone can definitely be better than the current situation if they want to try. 
                Here's the workouts that you can do</p>
        </div>
        <div class="container">
            <img src="{% static 'img/workout/obs3.jpg' %}" width=40% style="display: block; margin:auto;">
        </div>
            
        {% for i in page_obj %}
        <div class="card mt-5 px-4" style="background-color: #d9d9e0; padding:10px;  box-shadow: 2px 2px 2px rgba(0,0,0,0.8);">
            <div class="card-header" style="box-shadow: 2px 2px rgba(77, 70, 77, 0.507);">
                <h4 class="text-center">{{i.work_activity}}</h4>
                <img src="{% static 'img/workout/white.png' %}" style="position:static; width:50px; height:50px; border-radius:50%; display: block; margin:auto;">
            </div>
            <div class="card-body" style="display:grid; grid-template-columns: auto 1fr; background-color: #d9d9e0; font-family:'Lucida'; row-gap: .3rem; column-gap: .8rem;">
                <div class="kiri">Duration</div>
                <div class="kanan">{{i.duration}}</div>
                <div class="kiri">Surname</div>
                <div class="kanan">{{i.surname}}</div>
                <div class="kiri">BMI</div>
                <div class="kanan">{{i.bmi}}</div>
                <div class="kiri">Range BMI</div>
                <div class="kanan">{{i.state_bmi}}</div>
                <div class="kiri">Published on</div>
                <div class="kanan">{{i.published}}</div>
                <div><a class="btn btn-outline-primary" href="{% url 'workout:detail' i.id %}" title="">Detail</a></div>
            </div>
        </div>
        {% endfor %}

        {% endif %}
        </div>

        <!--MEMBUAT PAGINATION-->
        {% if n_related > works_per_page %}
        <div class="container" style="display:flex; justify-content: center;">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
                    {% endif %}
        
                    
                    {% for page in page_obj.paginator.page_range %}
                        {% if page is page_obj.number %}
                        <li class="page-item" aria-current="page">
                            <span class="page-link" href="#">{{page}}
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                        {% endif %}
                        {% endfor %}
                
        
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
                    {% endif %}
                </ul>
              </nav>
        </div>
        {% endif %}
        <!----------------------------------->


        <!--NAVIGASI KE ALL WORKS-->
        <div class="container my-4 py-4">
            <h2 class="text-center">Wanna See the Whole of Activities?</h2>
            <div class="tengah" name="whole" style="display:flex; justify-content: center;"><a class="btn btn-outline-primary" href="{% url 'workout:all' %}" title="">Yes, Sure</a></div>
        </div>
        <!---------------------->

        <!--NAVIGASI KE CREATE WORK-->
        <div class="container my-4 py-4">
            <h2 class="text-center">Wanna Add More Activities ?</h2>
            <div class="tengah" style="display:flex; justify-content: center;"><a class="btn btn-outline-primary" href="{% url 'workout:create' %}" title="">Yes, Sure</a></div>
        </div>
        <!---------------------------->
</div>
      
{% endblock %}

